@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background: url("../img/Fundo3.jpg")no-repeat top center /cover;

}
body {

    font-family: Arial, sans-serif;
    background-color: rgba(244, 244, 244, 0.03);
    height: 100rem;
    margin: 0;
    padding: 0;
    z-index: -1;
}
#container{

    width: 100vw;
    height: auto;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b1e0a;
    padding: 0px;
    height: 200px;
    margin: 10px 5px auto;
}
.menu li {
    margin: 0;
    padding: 0;
}
h1{
    color:red;
    font-weight: bold;
    font-size: 44px;
    font-family: Kanit;
}

.menu a {
    text-decoration: none;
    color: red;
    padding: 5px 112px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    font-family: Kanit;
}
.btn-container {
    background-color:  #3b1e0a;
    padding: 20px; /
border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;


}

.btn-primary {
    background-color: #3b1e0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: Kanit;
    font-size: 21px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 10s infinite;
}

.slideshow-image.active {
    opacity: 1;
    animation: none;
}
h1 {
    background-color: #5b2b0c9c;
    /*border: 3px solid red;*/
    text-align: center;
    margin-top: 38px;
    /* height: 20em; */
    color: #fff;
    font-family: "Cabin", helvetica, arial, sans-serif;
    font-weight: 400;
}

.alert {
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/*form {*/
/*    max-width: 780px;*/
/*    margin: 20px auto;*/
/*    padding: 20px;*/
/*    background-color: rgb(55 49 40 / 79%);*/
/*    border-radius: 5px;*/
/*    border-radius: 7%;*/
/*    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}*/

form {
    max-width: 700px;
    margin: 25px auto 74px;
    height: 688px;
    padding: 4px;
    background-color: rgb(55 49 40 / 79%);
    /* border-radius: 5px; */
    border-radius: 7%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}




label {
    display: block;
    width: 8em;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #180b0285;
    font-family: "Cabin", helvetica, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
}
button {
    background-color: #052387;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;

    margin-top: 34px;
}


input[type="text"]{
 width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
  #grupo input[type="text"] {
            width: 40%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 15px;
        }
input[type="email"]{
   width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
/* Estilos para o contêiner das senhas */
#password-container {
    width: 53%;
    height: 10em;
    padding: 10px;
    margin-bottom: 37px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    /* border: 3px solid red; */
    justify-content: flex-end;
    flex-wrap: wrap;
}

   /* Estilos para as caixas de senha */
   input[type="password"] {
         width: 40%;
         padding: 8px;
         margin-bottom: 10px;
         border: 1px solid #ccc;
         border-radius: 15px;
   }
  #password-container input[type="text"] {
            width: 40%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 15px;
        }

   /* Estilos para o rótulo da opção "Mostrar senha" */
 #showPasswordLabel {
        width: 28em;
        display: flex;
        align-items: center;
        margin-top: 0px;
        justify-content: center;
        align-content: space-around;
        font-family: 'Kanit';
        flex-wrap: nowrap;
        flex-direction: row;
    }

   /* Estilos para o ícone de "Mostrar senha" */
  .show-password-icon {
      font-size: 28px;
      margin-left: 5px;
      cursor: pointer;
      color: #dc3545;
   }

   /* Estilos para a caixa de seleção */
  #showPassword {
      margin-right: 5px;
      z-index: -1;
      height: 0;
  }

input[type="submit"]:hover {
    background-color: #0056b3;
}
input:required {
    border-color: #dc3545;
}
input:valid {
    border-color: #773a15;
}
input:invalid {
    border-color: #dc3545;
}
input[type="checkbox" i] {
border: 3px solid red;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}
/* Adjust styles for different zoom levels */
@media (max-width: 768px) and (max-zoom: 1) {
    /* Styles for screens up to 768px wide and normal zoom */
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (max-zoom: 0.8) {
    /* Styles for screens up to 768px wide and reduced zoom */
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) and (max-zoom: 1) {
    /* Styles for screens up to 480px wide and normal zoom */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}

footer {
    background-color: #3b1e0a;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    font-size: 14px; /* Adjust the font size as needed */
    line-height: 41px; /* Center the text vertically within the footer */

}
