*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: rgba(79, 80, 80, 0.58);
}


/* Estilizando o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f21a;
    margin-top: 20px;
    padding: 20px;
    text-align: center;

}

/* Estilizando o título */
section h1 {
    color: #470304c7;
    font-size: 3.8em;
    font-weight: bold;
    font-family: "Cabin", helvetica, arial, sans-serif;
}

/* Estilizando o formulário */
/*form {*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/
form {
    background-color: #ffffff91;
    padding: 20px;
    border-radius: 35px;
    width: 100em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Inter Semi Bolder';
    font-size: 0.9em;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    left: 18em;
    position: sticky;
}

/* Estilizando os campos de entrada */
input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilizando o checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilizando o botão de envio */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

card-body {

    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}


h2{
    color:red;
    font-weight: bold;
    font-size: 44px;
    font-family: Kanit;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.menu a {
    text-decoration: none;
    color: red;
    padding: 5px 112px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    font-family: Kanit;
}

.menu li {
    margin: 0;
    padding: 0;
}
.menu li h1{
    font-size: 2.8rem;
    font-weight: bold;

    color: #FF0000
}
.menu-logo {
     display: flex;
     align-items: center;
 }

.menu-logo img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.centered-horizontal {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    width: 80%;
    margin-left: 13em;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #3b1e0a;
}
.logo-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.logo-button img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 10s infinite;
}

slideshow-image.active {
    opacity: 1;
    animation: none;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}
btn-container {
    background-color:  #3b1e0a;
    padding: 20px; /
border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;


}

btn-primary {
    background-color: #3b1e0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: Kanit;
    font-size: 21px;
}
footer {
    background-color: #3b1e0a;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -63px;
    height: 23px;
    width: 100%;

}

.signup-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #0056b3;
}

.signup-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
