body {
      background: url("/img/images1.jpeg") top center / cover no-repeat;
}
       ul.menu {
              list-style-type: none;
              margin: -20;
              padding: 0;
              background-color: #BE9063;
              overflow: hidden;
              display: flex;
             justify-content: space-between;
             align-items: center;

          }

          ul.menu img {
                      width: 300px;
                      height: auto;
                      margin-right: 10px;
                  }

          ul.menu h1 {
              color: white;
              margin: 0;
              font-size: 24px;
          }

  ul.menu li {
            margin: 0;
            padding: 0;
        }

        ul.menu a {

            text-decoration: none;
            padding: 208px;
        }