@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,100&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(/img/img-CadastroProd.png) no-repeat top center/cover;
    background-size: 55%;
    background-color: rgb(18 17 18 / 57%);
    width: 90vw;
}

body {
    background: url(/img/Fundo3.jpg) no-repeat top center;
    background-size: 97% 178%;
    margin: 13px auto;
    display: flex;
    padding: 0;
    font-family: Kanit;
    width: 100vw;
    height: auto;

}

#container {
    display: flex;
    margin: auto 2em;
    width: 100vw;
    max-width: 100%;
    height: auto;
    /* align-content: space-between; */
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    z-index: 22;
    opacity: 91%;
}

/*#container {*/
/*    display: flex;*/
/*    margin: auto 2em;*/
/*    width: 100vw;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    !* align-content: space-between; *!*/
/*    justify-content: space-between;*/
/*    align-items: stretch;*/
/*    flex-direction: column;*/
/* }*/

#usuarios-grupos {
    width: 13em;
    margin: 10px 0px 10px 41px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    font-size: 16px;
    border: 5px solid #f8f9fa;
    border-radius: 29% 4%;
    background-color: #301c0ab0;
    padding: 13px;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 10s infinite;
}

.slideshow-image.active {
    opacity: 1;
    animation: none;
}


h2 {
    color: red;
    font-weight: bold;
    font-size: 44px;
    font-family: Kanit;
}

.menu a {
    text-decoration: none;
    color: red;
    padding: 5px 112px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    font-family: Kanit;
}

.menu {
    /*margin-top: 20px;*/
    height: 200px;
    max-width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b1e0a96;
    padding: 10px;
}


.menu li {
    margin: 0;
    padding: 0;
}

.menu li h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF0000;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: -84px;
    border-radius: 5px;
    width: 53em;
    height: 5em;
    margin-left: 63em;
    /* align-content: flex-start; */
    flex-wrap: nowrap;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;

}

.search-button {
    background-color: #615044cc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 0 8px 5px 0;
    height: 38px;
    cursor: pointer;
}

button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-body {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}

.table {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    overflow-x: auto;
    color: rgb(66 30 7);
    overflow-y: hidden;
    border: 10px solid #343a40;
    background-color: #e9ecefba;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    background-color: #343a40;
    color: #fff;
    font-family: 'Kanit';

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    overflow: auto;
}

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}

/* Adjust styles for different zoom levels */
@media (max-width: 768px) and (max-zoom: 1) {
    /* Styles for screens up to 768px wide and normal zoom */
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (max-zoom: 0.8) {
    /* Styles for screens up to 768px wide and reduced zoom */
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) and (max-zoom: 1) {
    /* Styles for screens up to 480px wide and normal zoom */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}

/* css da numeração da pagina*/
/* Estilo para a classe .pagination */
.pagination {
    text-align: center; /* Alinha o conteúdo ao centro */
    margin-top: 20px; /* Define uma margem superior para espaçamento */
}

/* Estilo para a lista <ul> dentro de .pagination */
.pagination ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

/* Estilo para os itens de lista <li> dentro de .pagination */
.pagination li {
    display: inline; /* Coloca os itens de lista em linha horizontalmente */
    margin-right: 5px; /* Adiciona um espaço entre os itens de lista */
}

/* Estilo para os links <a> dentro de .pagination */
.pagination a {
    text-decoration: none; /* Remove sublinhado padrão dos links */
    padding: 5px 10px; /* Adiciona preenchimento aos links */
    background-color: #007bff; /* Cor de fundo para os links */
    color: #fff; /* Cor do texto dos links */
    border-radius: 4px; /* Borda arredondada nos links */
}

/* Estilo para os links <a> quando hover */
.pagination a:hover {
    background-color: #0056b3; /* Cor de fundo quando hover */
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.1px solid #420808bf;
    padding: 2px;
    text-align: center;
}

/* Estilos da paginação */
#paginação {
    text-align: center;
    margin-top: 10px;
}


button:hover {
    background-color: #0056b3;
}

#pagina-atual {
    margin: 0 10px;
}

footer {
    background-color: #3b1e0a;
    color: white;
    text-align: center;
    position: fixed;
    bottom: -18em;
    height: 34%;
    width: 100%;
}
body{
    height: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}
input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
